@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

*, *::before, *::after{
    font-family: 'Roboto', 'sans-serif';

}

body{
    margin: 0;
    
}

.logo{
    position: absolute;         /* required to remain in the top left corner */
    top: .5rem;
    left: .5rem;
    width: 7rem;
    height: 7rem;
    background-color: aquamarine;
    border-radius: 100%;
}

.logo::before{          /* default image */

}

.logo::after{          /* animation */
    
}





