@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

body{
    background-color: rgb(28, 27, 34);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
}

.container{
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    background-color: magenta;
}

form{
    width: 100%;
    background-color: rgb(42, 41, 42);
    padding: 20px;
    border-radius: 0px;
}

input[type = "number"]{           /*styles the number and the smaller border around it*/
    width: 70%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #3a3a3b;
    font-size: 24px;
    color: tomato;         /*aliceblue*/
    padding-left: 10px;
}

input[type = "number"]::placeholder{     /*styles the input of number*/
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 400;
}

button{
    display: inline-block;
    width: 25%;
    font-size: 24px;
    height: 40px;
    background-color: #e8f809;      /*#3a3a3b*/
    border: none;
    outline: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    color: green;         /*aliceblue*/
}