@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: magenta;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 20px;
}

ul{
    background-color: white;
    border-radius: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 9px 17px 0px #00000017;
}

li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

li:hover a{
    color: crimson;
}

nav{
    position: relative;      /*removes unnecessary space and horizontal scroll bar*/
}

.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);         /*lines up to the center*/
    right: -80px;         /*moves to the circle icon to the right*/
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(23, 233, 23);
}